# because it's very large, ~ 680 MB
assetsFileIdMapping.json

# because copyright concerns
_ripped_unityproj/*

# because soooo many files and it's a temporary export location anyway
map_*/*

# other

node_modules
